*.pyc
*.swp
*yankring*
.VimballRecord
.netrwhist

/autoload/plug.vim
/autoload/plug.vim.old

/sessions
/spell

/colors/desert.vim
/colors/papercolor.vim

/tags

/lua/packer_compiled

/luapad.lua
lua/mudox/plugin/neorg/keybind.lua
.aider*
.env
